<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="phr.phr">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/p3hr_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/p3hr_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LogIn"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PatientRegistration"></activity>
        <activity android:name=".PatientView"></activity>
        <activity android:name=".PatientAccount"></activity>
        <activity android:name=".PatientAccountUpdate"></activity>
        <activity android:name=".PatientRecordView"></activity>
        <activity android:name=".PatientNoteView"></activity>
        <activity android:name=".PatientEditPermissionsRecord"></activity>
        <activity android:name=".PatientAddPermissionRecord"></activity>
        <activity android:name=".PatientAddPermissionAllRecords"></activity>
        <activity android:name=".HealthProfessionalRegistration"></activity>
        <activity android:name=".HealthProfessionalView"></activity>
        <activity android:name=".HealthProfessionalAccount"></activity>
        <activity android:name=".HealthProfessionalAccountUpdate"></activity>
        <activity android:name=".HealthProfessionalViewAllRecords"></activity>
        <activity android:name=".HealthProfessionalRecordView"></activity>
        <activity android:name=".HealthProfessionalSinglePatient"></activity>
        <activity android:name=".HealthProfessionalLeaveNote"></activity>
        <activity android:name=".OpenAttachment"></activity>
    </application>

</manifest>